[agent]
  interval = "5s"
  round_interval = true
  metric_batch_size = 300000
  metric_buffer_limit = 3000000
  collection_jitter = "0s"
  flush_interval = "30s"
  flush_jitter = "0s"
  precision = "0s"
  hostname = "Suricata"
  omit_hostname = false
  logtarget = "file"

  ## Name of the file to be logged to when using the "file" logtarget.  If set to
  ## the empty string then logs are written to stderr.
  logfile = "/var/log/telegraf/telegraf.log"

[[inputs.cpu]]
  percpu = true
  totalcpu = true
  collect_cpu_time = false
  report_active = false
  core_tags = false

[[inputs.mem]]

# Suricata stats and alerts plugin
[[inputs.suricata]]
  ## Data sink for Suricata stats log.
  # This is expected to be a filename of a
  # unix socket to be created for listening.
  source = "/tmp/suricata-stats.sock"
  # Delimiter for flattening field keys, e.g. subitem "alert" of "detect"
  # becomes "detect_alert" when delimiter is "_".
  delimiter = "_"
  # Detect alert logs
  alerts = true

#[[outputs.influxdb]]
#  urls = ["http://172.20.10.10:8086"]
#  username = "suricata"
#  password = "suricatadmin"
#  database = "suricata"
#  skip_database_creation = false
#  user_agent = "telegraf"

[[outputs.socket_writer]]
  address = "tcp://172.20.10.10:9009"